<img src="{{image}}"/>
<span>{{name}}</span>
<button class="cancel">X</button>
<p onclick="endorseFriends()">
  {{#each tags}}
    <button class="endorseTag">{{name}}</button>
  {{/each}}
</p>

<button class="ok">Endorse</button>
