<div class="tagbox">
  <span class="text3">{{name}}</span>
  <span class="btn_en {{#if mouseover}}{{#if endorsed}}endorse{{else}}unendorse{{/if}}{{/if}}" >
    <span {{#if mouseover}}class="mouseover"{{/if}}>{{count}}</span>
  </span>
</div>
